# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj
.Rproj.user

# produced vignettes
# vignettes/*.html
# vignettes/*.pdf
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.nb.html

# Data files (sample data for testing included in data/git_options)
data/options/*

tests/testthat/*
# inst/doc
